.growYourSectionWrapper {
  background-color: var(--primary-dark);
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;

  @media (max-width: 600px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .eclipseLeft {
    position: absolute;
    left: -200px;
    top: -200px;
    width: 462px;
    height: 462px;
    background: var(--primary-blue);
    filter: blur(200px);
    z-index: 1;

    @media (max-width: 600px) {
      width: 306px;
      height: 213.36px;
      filter: blur(100px);
    }
  }

  .eclipseRight {
    position: absolute;
    right: -200px;
    bottom: -200px;
    width: 441px;
    height: 441px;
    background: var(--primary-blue);
    filter: blur(200px);
    z-index: 1;

    @media (max-width: 600px) {
      width: 306px;
      height: 213.36px;
      filter: blur(100px);
    }
  }

  .contentNimgWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .contentWrapper {
      max-width: 648px;
      width: 100%;

      @media (max-width: 600px) {
        width: 100%;
      }

      & h2 {
        font-weight: 700;
        color: #ffffff;
        text-align: left;
        & span {
          color: var(--primary-blue);
        }
      }

      & p {
        color: #ffffff;
        margin: 11px 0 30.82px;

        @media (max-width: 600px) {
          margin: 15px 0 20px;
        }
      }
    }

    .imgContainer {
      max-width: 631.26px;
      height: auto;

      @media (max-width: 600px) {
        width: 100%;
        margin-top: 30px;
      }

      & img {
        width: 100%;
        height: auto;
      }
    }
  }
}
