.SectionBlogWrapper {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 600px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contentContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 30px;
    }

    & div {
      & span {
        color: var(--primary-blue);
        font-family: var(--font-instrumentSans);
        text-align: center;
      }
      & h2 {
        color: var(--primary-dark);
        width: 70%;
        text-align: left;

        @media (max-width: 600px) {
          width: 100%;
        }
      }
    }
  }

  .blogHeading {
    & h2 {
      text-align: center;
      margin-bottom: 52px;

      @media (max-width: 600px) {
        margin-bottom: 30px;
      }
    }
  }

  & .cardWrapper {
    margin-top: 33px;

    & .cardContainer {
      border: 1px solid #e5e5e5;
      border-radius: var(--borderRadius);
      padding-bottom: 0;
      overflow: hidden;
      background-color: #fff;

      & img {
        width: 100%;
        /* height: 100%; */
        height: 300px;
        border-radius: 0;
        overflow: hidden;
        object-fit: contain;

        @media (max-width: 600px) {
          height: 160px;
        }
      }

      & .badge {
        padding: 8px 18px;
        background: var(--bg-aquaSqueeze);
        border-radius: 99rem;
        font-family: var(--font-inter);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        leading-trim: both;
        text-edge: cap;
        text-align: center;
        letter-spacing: 0.3px;
        color: #1b1b1b;
        width: fit-content;
        margin-top: 20px;
        margin-left: 30px;

        @media (max-width: 600px) {
          margin-left: 20px;
        }
      }

      & h6 {
        font-family: var(--font-instrumentSans);
        font-weight: 600;
        color: #000000;
        margin-top: 20px;
        padding: 0 30px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 58px;

        @media (max-width: 600px) {
          padding: 0 20px;
        }
      }

      & a {
        display: flex;
        align-items: center;
        color: var(--primary-blue);
        margin: 30px 30px 20px;

        @media (max-width: 600px) {
          margin: 20px;
        }
      }
    }
  }
}

.bgAdded {
  background-color: var(--bg-cream);
}

.bgWhite {
  background-color: #fff;
}
