.WhyChooseUsContainer {
  background-color: var(--bg-cream);
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 600px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  & .whyCHooseTab {
    padding: 5px 20px;
    background: #e6f1fe;
    border-radius: 99rem;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    margin-bottom: 15px;

    /* typo */
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.4px;
    color: #1b1b1b;

    & span {
      color: var(--primary-blue);
    }
  }

  & h2 {
    color: var(--primary-dark);
  }

  & p {
    font-weight: 400;
    text-align: center;
    color: #1b1b1b;
    margin: auto;
    width: 60%;
    margin-top: 10px;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .contentGridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-top: 52px;

    @media (max-width: 600px) {
      display: none;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    & .boxContent {
      border-right: 1px solid var(--borderColor);

      &:nth-child(3),
      &:nth-child(6) {
        border-right: 0;
      }

      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        border-bottom: 1px solid var(--borderColor);
      }

      @media (max-width: 1024px) {
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6) {
          border-right: 0;
        }

        &:nth-child(3) {
          border-right: 1px solid var(--borderColor);
        }
      }

      @media (max-width: 831px) {
        border-right: 0;
        &:nth-child(3) {
          border-right: 0;
        }
      }

      & .heading {
        color: #001730;
        text-align: left;
        font-weight: 600;
        border-top: 1px solid var(--borderColor);
        border-bottom: 1px solid var(--borderColor);
        padding: 12.3px 30px;
        height: 80px;
        align-items: center;
        display: flex;
      }

      & .description {
        font-weight: 400;
        color: #363636;
        text-align: left;
        width: 100%;
        padding: 0 30px;
        margin-top: 20px;
      }

      & .points {
        padding: 0 30px 30px;
        margin: 20px 0 0 24px;
        & li {
          color: #363636;
          text-align: left;
          margin-bottom: 15px;
        }
      }
    }
  }

  & .whyChooseAccordionWrapper {
    display: none;
    width: 100%;
    margin-top: 15px;

    @media (max-width: 600px) {
      display: block;
    }

    .accordionItem {
      border-top: 1px solid #ddd;
      /* border-bottom: 1px solid #ddd; */
    }

    .accordionHeader {
      width: 100%;
      background: none;
      border: none;
      text-align: left;
      font-size: 18px;
      padding: 1rem 0;
      cursor: pointer;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
    }

    .accordionBody {
      padding: 0;
      display: none;

      & .accordionContent {
        color: #363636;

        & p {
          color: #363636;
          text-align: left;
          margin-top: 15px;
        }

        & ul {
          padding-left: 20px;
          & li {
            margin-top: 10px;

            &:last-child {
              margin-bottom: 15px;
            }
          }
        }
      }
    }

    .open {
      display: block;
      border-top: 1px solid #ddd;
    }

    .closed {
      display: none;
    }
    .dropDownIcons {
      & svg {
        min-width: 15px;

        & path {
          stroke: #1b1b1b !important;
          stroke-width: 1.5px !important;
        }
      }
    }

    /* Example for specific items if needed */
    .accordionItem01 {
      /* Unique styles if needed */
    }
    .accordionItem02 {
      /* Unique styles if needed */
    }
    .accordionItem03 {
      /* Unique styles if needed */
    }
  }
}

.infoCardWrapper {
  background: #201f1f;
  border-radius: var(--borderRadius);
  padding: 28px 35px;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 66.91px auto 0;
  position: relative;
  overflow: visible;
  width: calc(100% - 190px);

  @media (max-width: 992px) {
    width: 100%;
    flex-direction: column;
  }

  & .smallbadge {
    --badgeScale: 50px;
    width: var(--badgeScale);
    height: var(--badgeScale);
    border-radius: 99rem;
    position: absolute;
    left: -20px;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #201f1f;

    @media (max-width: 992px) {
      left: 50%;
      top: 0px;
      border: 1px solid #414141;
      transform: translate(-50%, -50%);
    }

    & a {
      display: block;
    }
    & svg {
      width: 24px;
      height: 24px;
    }
  }

  & h5 {
    font-family: var(--font-instrumentSans);
    font-weight: 600;
    color: #ffffff;
    width: 45%;

    @media (max-width: 992px) {
      width: 100%;
      text-align: center;
      margin: 20px 0;
    }
  }
}
