.bannerMain {
  margin-top: 100px;
  /* height: 812px; */
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 120px;
  @media (max-width: 1500px) {
    margin-top: 90px;
    margin-bottom: 90px;
    /* height: 700px; */
  }
  @media (max-width: 1300px) {
    /* height: 600px; */
  }
  @media (max-width: 1023px) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  @media (max-width: 767px) {
    margin-top: 60px;
    margin-bottom: 80px;
    /* height: 750px; */
  }
  .bannerContent {
    display: flex;
    gap: 80px;
    align-items: center;
    padding: 80px 0px 0 0;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    @media (max-width: 1600px) {
      padding: 50px 0px 0 0;
    }
    @media (max-width: 1200px) {
      align-items: flex-end;
      gap: 40px;
    }
    @media (max-width: 1023px) {
      padding: 50px 0px 0 0;
      flex-direction: column;
    }
    @media (max-width: 767px) {
      padding: 50px 0px 0 0;
      height: auto;
    }
    & .bannerTitle {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 64px;
        line-height: 80px;
        letter-spacing: 0%;
        

        color: #0075f2;
        margin: 0 0 30px;
        @media (max-width: 1700px) {
          font-size: 50px;
          line-height: 60px;
        }
        @media (max-width: 1400px) {
          font-size: 30px;
          line-height: 40px;
          margin: 0 0 24px;
        }
        @media (max-width: 1023px) {
          font-size: 24px;
          line-height: 34px;
        }
        & .oneLineText {
          white-space: pre;
          @media (max-width: 1850px) {
            white-space: normal;
          }
        }
      }
    & .bannerTitleRight {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 64px;
        line-height: 80px;
        letter-spacing: 0%;
        

        color: #0075f2;
        margin: 54px 0 30px;
        @media (max-width: 1700px) {
          font-size: 50px;
          line-height: 60px;
        }
        @media (max-width: 1400px) {
          font-size: 30px;
          line-height: 40px;
          margin: 48px 0 24px;
        }
        @media (max-width: 1023px) {
          font-size: 24px;
          line-height: 34px;
        }
        & .oneLineText {
          white-space: pre;
          @media (max-width: 1850px) {
            white-space: normal;
          }
        }
      }
    & .leftContent {
      width: 41%;
      @media (max-width: 1023px) {
        width: 100%;
      }

      & .bannerDescription {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 0%;
        text-transform: capitalize;

        color: #3e4348;
        margin: 0 0 51px;
        max-width: 882px;
        @media (max-width: 1600px) {
          font-size: 18px;
          line-height: 22px;
        }
        @media (max-width: 1023px) {
          font-size: 16px;
          line-height: 20px;
        }
        @media (max-width: 767px) {
          margin: 0 0 31px;
          font-size: 14px;
          line-height: 20px;
        }
      }
      & .bannerButton {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;

        color: #fff;
        padding: 13px 15px 15px 20px;
        background-color: #0075f2;
        border-radius: 26px;
        border: none;

        display: flex;
        gap: 3px;
        align-items: center;
        margin-bottom: 100px;
        @media (max-width: 1023px) {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 30px;
        }
      }
    }
    & .rightContent {
      width: 58%;
      display: flex;
      gap: 40px;
      @media (max-width: 1023px) {
        width: 100%;
      }
      @media (max-width: 767px) {
        flex-direction: column;
      }
      & svg,
      & img {
        min-width: 418px;
        height: 100%;
        @media (max-width: 1800px) {
            width: 100%;
          }
        @media (max-width: 1600px) {
          min-width: 380px;
          }
        @media (max-width: 1400px) {
          min-width: 320px;
          }
        @media (max-width: 767px) {
          min-width: 300px;
          }
      }
    }
  }
}
