.container {
  margin: 199px 0 120px;
  position: relative;
  @media (max-width: 1600px) {
    margin: 120px 0 100px;
  }
  @media (max-width: 1023px) {
    margin: 100px 0 80px;
  }
  &:after{
    position: absolute;
    content: "";
    top: -85px;
    right: 202px;
    width: 240px;
    height: 100%;
    z-index: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='240' height='1724' viewBox='0 0 240 1724' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:luminosity' opacity='0.05'%3E%3Cpath d='M48.6077 1579.68L68.176 1612.99C49.0964 1624.19 38.8205 1637.43 38.8205 1652.89C38.8205 1661.07 41.152 1668.1 45.9241 1673.83C50.6474 1679.5 56.3301 1682.56 62.9127 1682.56C68.7649 1682.56 74.4611 1680.32 79.9609 1676.13C85.4203 1671.98 93.5188 1663.06 104.171 1649.65L104.172 1649.65C124.472 1624.08 139.9 1607.85 150.527 1600.63C161.284 1593.4 171.834 1589.88 182.214 1589.88C197.313 1589.88 210.222 1595.73 221.067 1607.6L221.067 1607.6C232.003 1619.57 237.5 1634.29 237.5 1651.93C237.5 1663.26 234.951 1674.01 229.842 1684.21L229.838 1684.22C224.992 1693.99 216.245 1704.68 203.419 1716.28L178.389 1687.16C192.993 1675.85 200.869 1663.91 200.869 1651.29C200.869 1644.99 199.188 1639.59 195.643 1635.33C192.297 1631.18 188.223 1628.82 183.456 1628.82C178.996 1628.82 174.842 1630.39 171.046 1633.34L171.036 1633.35L171.027 1633.36C168.564 1635.32 164.852 1639.1 159.964 1644.55C155.038 1650.05 148.813 1657.36 141.294 1666.48L141.289 1666.49L141.285 1666.49C127.374 1683.58 118.716 1693.79 115.204 1697.3L115.196 1697.31L115.189 1697.32C106.415 1706.24 98.1167 1712.41 90.3031 1715.97L90.2853 1715.98L90.2677 1715.99C82.5504 1719.65 74.066 1721.5 64.7768 1721.5C46.7033 1721.5 31.8992 1715.11 20.1721 1702.34C8.45153 1689.56 2.50012 1672.84 2.50012 1651.93C2.50012 1635.63 6.38161 1621.51 14.0634 1609.5C21.4167 1598.11 32.8744 1588.15 48.6077 1579.68Z' stroke='%230075F2' stroke-width='5'/%3E%3Cpath d='M2.50012 1473.11L2.50012 1409.49L237.5 1409.49L237.5 1444.06C237.5 1465.53 236.081 1480.96 233.353 1490.56L233.349 1490.58L233.344 1490.6C229.66 1504.26 222.858 1515.02 212.977 1523C203.115 1530.97 191.496 1534.97 178.001 1534.97C169.228 1534.97 161.303 1533.12 154.18 1529.46L154.168 1529.46C147.193 1525.93 140.506 1520.06 134.143 1511.72L131.663 1508.46L129.899 1512.15C123.189 1526.19 114.869 1536.27 105.026 1542.58L105.016 1542.59C95.2553 1548.92 83.6165 1552.14 69.9933 1552.14C56.9528 1552.14 45.1192 1548.83 34.4335 1542.24C23.7004 1535.62 15.7103 1527.12 10.3865 1516.75C5.1988 1506.44 2.50012 1491.96 2.50012 1473.11ZM198.938 1451.93L198.938 1449.43L196.438 1449.43L145.86 1449.43L143.36 1449.43L143.36 1451.93L143.36 1461.72C143.36 1472.91 145.748 1481.71 151.002 1487.61C156.219 1493.57 163.306 1496.47 171.965 1496.47C180.086 1496.47 186.74 1493.72 191.629 1488.08C196.655 1482.4 198.938 1474.05 198.938 1463.48L198.938 1451.93ZM107.571 1451.93L107.571 1449.43L105.071 1449.43L43.5623 1449.43L41.0623 1449.43L41.0623 1451.93L41.0623 1463.16C41.0623 1472.56 41.6653 1480.51 42.9015 1486.98C44.1306 1493.41 46.0206 1498.56 48.7315 1502.2C54.0539 1509.45 61.8139 1513 71.6248 1513C82.6634 1513 91.5694 1508.9 98.062 1500.66C104.579 1492.38 107.571 1479.04 107.571 1461.24L107.571 1451.93Z' stroke='%230075F2' stroke-width='5'/%3E%3Cpath d='M50.334 1320.43L51.9358 1319.81L51.9358 1318.09L51.9358 1218.8L51.9358 1217.11L50.3677 1216.48L2.50012 1197.25L2.50012 1154.44L237.5 1246.32L237.5 1289.91L2.50011 1381.62L2.50011 1338.84L50.334 1320.43ZM177.282 1270.77L183.21 1268.45L177.286 1266.12L94.8927 1233.68L91.477 1232.34L91.477 1236.01L91.477 1300.72L91.477 1304.38L94.8887 1303.04L177.282 1270.77Z' stroke='%230075F2' stroke-width='5'/%3E%3Cpath d='M41.0623 1062.11L41.0623 1126.57L2.50012 1126.57L2.50012 1018.66L237.5 1018.66L237.5 1059.61L43.5623 1059.61L41.0623 1059.61L41.0623 1062.11Z' stroke='%230075F2' stroke-width='5'/%3E%3Cpath d='M40.3572 859.827L40.3572 948.521L2.50012 948.521L2.50012 814.559L237.5 814.559L237.5 948.521L199.643 948.521L199.643 859.827L199.643 857.327L197.143 857.327L141.429 857.327L138.929 857.327L138.929 859.827L138.929 948.521L101.071 948.521L101.072 859.827L101.072 857.327L98.5715 857.327L42.8572 857.327L40.3572 857.327L40.3572 859.827Z' stroke='%230075F2' stroke-width='5'/%3E%3Cpath d='M2.50012 654.453L2.50012 601.776L237.5 601.776L237.5 653.634C237.5 688.554 233.149 714.104 224.721 730.596L224.716 730.607C216.382 747.122 202.738 760.813 183.622 771.637C164.585 782.416 142.29 787.849 116.655 787.849C98.4496 787.849 81.7461 784.787 66.5166 778.695L66.5081 778.692C51.3678 772.7 38.8535 764.383 28.9083 753.765L28.8997 753.756C18.9062 743.194 12.0513 731.787 8.26206 719.534C4.46878 707.268 2.50012 685.667 2.50012 654.453ZM198.448 644.957L198.448 642.457L195.948 642.457L44.7044 642.457L42.2044 642.457L42.2044 644.957L42.2044 666.242C42.2044 687.274 44.5871 702.949 49.6539 712.89C54.7172 722.933 63.1867 731.022 74.858 737.216C86.6208 743.459 100.971 746.513 117.797 746.513C143.729 746.513 164.187 739.215 178.807 724.316L178.808 724.314C192.088 710.758 198.448 689.288 198.448 660.511L198.448 644.957Z' stroke='%230075F2' stroke-width='5'/%3E%3Cpath d='M203.144 541.245L203.14 541.249C180.216 563.796 152.321 575.061 119.301 575.061C86.589 575.061 59.005 563.948 36.3939 541.709L36.3899 541.705C13.7765 519.565 2.50012 492.738 2.50012 461.079C2.50012 427.872 14.0955 400.403 37.2898 378.489C60.541 356.521 88.095 345.562 120.078 345.562C141.511 345.562 161.173 350.675 179.113 360.889C197.061 371.107 211.242 385.117 221.687 402.951L221.69 402.955C232.236 420.888 237.5 440.146 237.5 460.772C237.5 492.002 226.083 518.783 203.144 541.245ZM199.937 460.312C199.937 438.778 192.32 420.578 177.117 405.875C161.892 391.152 142.552 383.84 119.301 383.84C93.363 383.84 72.6378 393.07 57.4108 411.607C45.5476 425.968 39.5972 442.491 39.5972 461.079C39.5972 482.132 47.3395 500.121 62.7343 514.908C78.1409 529.706 97.1554 537.09 119.612 537.09C141.972 537.09 160.982 529.65 176.486 514.757C192.092 499.866 199.937 481.67 199.937 460.312Z' stroke='%230075F2' stroke-width='5'/%3E%3Cpath d='M177.187 157.789L177.181 157.783C161.788 141.779 142.752 133.758 120.233 133.758C104.618 133.758 90.6596 137.296 78.4291 144.435C66.2053 151.571 56.6178 161.663 49.6786 174.65C42.7386 187.639 39.2865 202.046 39.2865 217.822C39.2865 231.259 41.6714 243.605 46.4789 254.824L46.4828 254.833L46.4868 254.842C51.1888 265.577 59.43 277.177 71.0759 289.643L43.8735 316.784C28.4848 300.077 17.8318 284.379 11.791 269.693C5.61642 254.43 2.50012 236.939 2.50012 217.176C2.50012 180.795 13.548 151.187 35.5144 128.135C57.5778 105.196 85.7987 93.6955 120.388 93.6956C142.763 93.6956 162.553 98.9242 179.832 109.324C197.125 119.84 211.066 134.839 221.644 154.403C232.215 174.061 237.5 195.188 237.5 217.822C237.5 237.068 233.587 255.568 225.751 273.343L225.749 273.348C218.251 290.459 207.731 305.279 194.179 317.828L168.431 289.768C189.556 268.255 200.248 243.982 200.248 217.014C200.248 193.689 192.568 173.893 177.187 157.789Z' stroke='%230075F2' stroke-width='5'/%3E%3Cpath d='M220.665 45.2683L19.3348 45.2683C10.5016 45.2683 2.50012 36.2177 2.50012 23.8841C2.50012 11.5506 10.5016 2.49999 19.3348 2.49999L220.665 2.5C229.481 2.5 237.5 11.5523 237.5 23.8842C237.5 36.2177 229.499 45.2683 220.665 45.2683Z' stroke='%230075F2' stroke-width='5'/%3E%3C/g%3E%3C/svg%3E%0A");
    @media (max-width: 1600px) {
      width: 200px;
      background-size: 200px;
    }
    @media (max-width: 1400px) {
      width: 160px;
      background-size: 160px;
      right: 102px;
    }
    @media (max-width: 767px) {
      width: 100px;
      background-size: 100px;
      right: 40px;
    }
  }
}
.servicesCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: center;
  position: relative;
  z-index: 1;
  @media (max-width: 1200px) {
    gap: 24px;
   }
  @media (max-width: 680px) {
    grid-template-columns: repeat(1, 1fr);
   }
  & .cardColumn {
    display: flex;
    gap: 60px;
    flex-direction: column;
    @media (max-width: 1200px) {
      gap: 24px;
     }
  }
  .card {
    background: white;
    padding: 64px 23px 72px 40px;
    border-radius: 60px;
    box-shadow: 0px 10px 50px 0px #0000000f;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    @media (max-width: 1600px) {
      padding: 34px 23px 32px 40px;
    }
    @media (max-width: 1023px) {
      flex-direction: column-reverse;
      padding: 24px 24px 36px;
    }
    & h3 {
      margin: 77px 0 50px;
      font-family: Montserrat;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0%;
      color: #242424;
      @media (max-width: 1600px) {
        font-size: 22px;
        margin: 24px 0;
      }
      @media (max-width: 1023px) {
        font-size: 18px;
        line-height: 26px;
        margin: 16px 0;
      }
    }
    & p {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0%;
      color: #242424;
      max-width: 420px;
      @media (max-width: 1600px) {
        font-size: 14px;
      }
    }
    & img{
      width: 14.5vw;
      height: 100%;
      @media (max-width: 680px) {
        width: 35vw;
       }
    }
  }

  .blueCard {
    background-color: #0075f2;

    & h3 {
      color: #fff;
    }
    & p {
      color: #fff;
    }
  }

  .whiteCard {
    background-color: white;
    color: black;
    border: 1px solid #ddd;
  }
  & .blankCard {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 30px 60px;
    display: block;
    @media (max-width: 1600px) {
     padding: 24px;
    }
    & img{
      display: none;
    }
    & h3 {
      display: none;
    }
    & p {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0%;
      color: #000;
      max-width: 100%;
      @media (max-width: 1600px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  .icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
}

.title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 0%;
  max-width: 762px;

  color: #0075f2;
  margin: 0 0 85px;
  @media (max-width: 1600px) {
    font-size: 50px;
    line-height: 60px;
  }
  @media (max-width: 1200px) {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 44px;
  }
  @media (max-width: 1023px) {
    font-size: 24px;
    line-height: 34px;
  }
}
