.bannerMain {
  margin-top: 100px;
  /* height: 812px; */
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 120px;
  @media (max-width: 1500px) {
    margin-top: 90px;
    margin-bottom: 90px;
    /* height: 700px; */
  }
  @media (max-width: 1300px) {
    /* height: 600px; */
  }
  @media (max-width: 1023px) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  @media (max-width: 767px) {
    margin-top: 60px;
    margin-bottom: 80px;
    /* height: 750px; */
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='1920' height='826' viewBox='0 0 1920 826' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_7831_3258' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='1920' height='826'%3E%3Crect width='1920' height='826' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_7831_3258)'%3E%3Crect width='1920' height='826' transform='matrix(1 0 0 -1 0 826)' fill='url(%23paint0_linear_7831_3258)'/%3E%3Cg filter='url(%23filter0_f_7831_3258)'%3E%3Ccircle cx='1595' cy='659' r='372' fill='url(%23paint1_radial_7831_3258)'/%3E%3C/g%3E%3Cg filter='url(%23filter1_f_7831_3258)'%3E%3Ccircle cx='31' cy='800' r='372' fill='url(%23paint2_radial_7831_3258)'/%3E%3C/g%3E%3Cg filter='url(%23filter2_f_7831_3258)'%3E%3Ccircle cx='31' cy='-18' r='177' fill='url(%23paint3_radial_7831_3258)'/%3E%3C/g%3E%3Cg filter='url(%23filter3_f_7831_3258)'%3E%3Ccircle cx='1398' cy='-60' r='177' fill='url(%23paint4_radial_7831_3258)'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_7831_3258' x='1219' y='283' width='752' height='752' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='2' result='effect1_foregroundBlur_7831_3258'/%3E%3C/filter%3E%3Cfilter id='filter1_f_7831_3258' x='-345' y='424' width='752' height='752' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='2' result='effect1_foregroundBlur_7831_3258'/%3E%3C/filter%3E%3Cfilter id='filter2_f_7831_3258' x='-150' y='-199' width='362' height='362' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='2' result='effect1_foregroundBlur_7831_3258'/%3E%3C/filter%3E%3Cfilter id='filter3_f_7831_3258' x='1217' y='-241' width='362' height='362' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='2' result='effect1_foregroundBlur_7831_3258'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_7831_3258' x1='0' y1='826' x2='1939' y2='3.56194e-05' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.46308' stop-color='white'/%3E%3Cstop offset='1' stop-color='%230075F2'/%3E%3C/linearGradient%3E%3CradialGradient id='paint1_radial_7831_3258' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1595 659) scale(513)'%3E%3Cstop stop-color='%230075F2'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/radialGradient%3E%3CradialGradient id='paint2_radial_7831_3258' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(31 800) scale(513)'%3E%3Cstop stop-color='%230075F2'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/radialGradient%3E%3CradialGradient id='paint3_radial_7831_3258' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(31 -18) scale(244.089)'%3E%3Cstop stop-color='%230075F2'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/radialGradient%3E%3CradialGradient id='paint4_radial_7831_3258' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1398 -60) scale(244.089)'%3E%3Cstop stop-color='%230075F2'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  .bannerContent {
    display: flex;
    align-items: center;
    padding: 107px 0px 0 120px;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    @media (max-width: 1600px) {
      padding: 50px 0px 0 80px;
    }
    @media (max-width: 1200px) {
      align-items: flex-end;
    }
    @media (max-width: 1023px) {
      padding: 50px 0px 0 40px;
    }
    @media (max-width: 767px) {
      padding: 50px 0px 0 20px;
      height: auto;
      flex-direction: column;
      gap: 40px;
    }
    & .leftContent {
      width: 55%;
      @media (max-width: 767px) {
        width: 100%;
      }
      & .bannerTitle {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        letter-spacing: 0%;
        text-transform: uppercase;
  
        color: #0075f2;
        margin: 0 0 30px;
        @media (max-width: 1700px) {
          font-size: 50px;
          line-height: 60px;
        }
        @media (max-width: 1400px) {
          font-size: 30px;
          line-height: 40px;
          margin: 0 0 24px;
        }
        @media (max-width: 1023px) {
          font-size: 24px;
          line-height: 34px;
        }
        & .oneLineText {
          white-space: pre;
          @media (max-width: 1850px) {
            white-space: normal;
          }
        }
      }
      & .bannerDescription {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 0%;
        text-transform: capitalize;
  
        color: #3e4348;
        margin: 0 0 51px;
        max-width: 882px;
        @media (max-width: 1600px) {
          font-size: 18px;
          line-height: 22px;
        }
        @media (max-width: 1023px) {
          font-size: 16px;
          line-height: 20px;
        }
        @media (max-width: 767px) {
          margin: 0 0 31px;
          font-size: 14px;
          line-height: 20px;
        }
      }
      & .bannerButton {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
  
        color: #0075f2;
        padding: 13px 15px 15px 20px;
        background-color: #fff;
        border-radius: 26px;
        border: none;
  
        display: flex;
        gap: 3px;
        align-items: center;
        margin-bottom: 100px;
        @media (max-width: 1023px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
    & .rightContent {
      width: 45%;
      display: flex;
      align-items: flex-end;
      @media (max-width: 767px) {
        width: 100%;
      }
      & svg,
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.lookingBannerMain {
  margin-top: 261px;
  /* height: 812px; */
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 120px;
  @media (max-width: 1500px) {
    margin-top: 190px;
    margin-bottom: 90px;
    /* height: 700px; */
  }
  @media (max-width: 1300px) {
    /* height: 600px; */
  }
  @media (max-width: 1023px) {
    margin-top: 140px;
    margin-bottom: 80px;
  }
  @media (max-width: 767px) {
    margin-top: 120px;
    margin-bottom: 80px;
    /* height: 750px; */
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    background-size: cover;
   background-image: url("data:image/svg+xml,%3Csvg width='1920' height='510' viewBox='0 0 1920 510' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_7392_5820' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='1920' height='510'%3E%3Crect width='1920' height='510' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_7392_5820)'%3E%3Crect width='1920' height='826' transform='matrix(1 0 0 -1 0 826)' fill='url(%23paint0_linear_7392_5820)'/%3E%3Cg filter='url(%23filter0_f_7392_5820)'%3E%3Ccircle cx='1595' cy='659' r='372' fill='url(%23paint1_radial_7392_5820)'/%3E%3C/g%3E%3Cg filter='url(%23filter1_f_7392_5820)'%3E%3Ccircle cx='1398' cy='-60' r='177' fill='url(%23paint2_radial_7392_5820)'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_7392_5820' x='1219' y='283' width='752' height='752' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='2' result='effect1_foregroundBlur_7392_5820'/%3E%3C/filter%3E%3Cfilter id='filter1_f_7392_5820' x='1217' y='-241' width='362' height='362' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='2' result='effect1_foregroundBlur_7392_5820'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_7392_5820' x1='0' y1='826' x2='1939' y2='3.56194e-05' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.46308' stop-color='white'/%3E%3Cstop offset='1' stop-color='%230075F2'/%3E%3C/linearGradient%3E%3CradialGradient id='paint1_radial_7392_5820' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1595 659) scale(513)'%3E%3Cstop stop-color='%230075F2'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/radialGradient%3E%3CradialGradient id='paint2_radial_7392_5820' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(1398 -60) scale(244.089)'%3E%3Cstop stop-color='%230075F2'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  .bannerContent {
    display: flex;
    align-items: center;
    padding: 100px 0px 85px 140px;
    max-width: 1920px;
    margin: 0 auto 0 0;
    position: relative;
    z-index: 1;
    @media (max-width: 1600px) {
      padding: 50px 0px 0 80px;
    }
    @media (max-width: 1023px) {
      padding: 50px 0px 0 40px;
    }
    @media (max-width: 767px) {
      padding: 50px 0px 0 20px;
      height: auto;
      flex-direction: column;
      gap: 40px;
    }
    & .leftContent {
      max-width: 695px;
      @media (max-width: 767px) {
        width: 100%;
      }
      & .bannerTitle {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        letter-spacing: 0%;
        max-width: 695px;
        
  
        color: #000;
        margin: 0 0 20px;
        @media (max-width: 1600px) {
          font-size: 40px;
          line-height: 50px;
        }
        @media (max-width: 1200px) {
          font-size: 30px;
          line-height: 40px;
        }
        @media (max-width: 1023px) {
          font-size: 24px;
          line-height: 34px;
        }
      }
      & .bannerDescription {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0%;        
  
        color: #000000;
        margin: 0 0 39px;
        @media (max-width: 1600px) {
          font-size: 18px;
          line-height: 22px;
        }
        @media (max-width: 1023px) {
          font-size: 16px;
          line-height: 20px;
        }
        @media (max-width: 767px) {
          margin: 0 0 30px;
          font-size: 14px;
          line-height: 20px;
        }
      }
      & .bannerButton {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: center;
        
  
        color: #fff;
        padding: 13px 15px 15px 20px;
        background-color: #0075F2;
        border-radius: 26px;
        border: none;
  
        display: flex;
        gap: 3px;
        align-items: center;
        @media (max-width: 1023px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
    & .rightContent {
      width: 45%;
      display: flex;
      align-items: flex-end;
      @media (max-width: 767px) {
        width: 100%;
      }
      & svg,
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.faqSection {
  & section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    row-gap: 0;
    @media (max-width: 1500px) {
    gap: 24px;
    row-gap: 0;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
}
