.SectionAIDevelopmentPartnerWrapper {
  background: var(--primary-dark);
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;

  @media (max-width: 600px) {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .gradientBottom {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
    bottom: 0;
  }

  & .leftNrightContainer {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    position: relative;
    z-index: 5;

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 21px;
    }

    & .leftContentContainer {
      flex: 1;
      width: 50%;

      @media (max-width: 600px) {
        width: 100%;
      }

      & h2 {
        color: #fff;
        text-align: left;
      }

      & p {
        color: #ffffff;
        margin-top: 20px;
        width: 80%;
      }

      & .aiDevCardWrapper {
        margin-top: 54px;
        width: fit-content;
        max-width: 560px;
        background: #282828;
        border-radius: var(--borderRadius);
        padding: 35px 41px 40px;
        position: relative;
        overflow: hidden;

        @media (max-width: 600px) {
          margin-top: 20px;
          display: none;
        }

        &::after {
          content: "";
          right: 30px;
          top: -5px;
          width: 360px;
          height: 100%;
          z-index: 1;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          background-image: url("data:image/svg+xml,%3Csvg width='218' height='245' viewBox='0 0 218 245' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M185.378 102.851C180.539 104.829 176.931 107.609 174.556 111.19C172.181 114.771 171.173 119.102 171.533 124.184C171.935 129.171 174.311 137.448 178.66 149.015C184.26 163.905 187.338 174.566 187.895 180.997C188.478 187.497 186.994 193.036 183.442 197.613C179.917 202.259 173.67 206.268 164.703 209.64L158.996 211.785L153.214 196.41L156.373 195.222C163.167 192.667 167.344 189.753 168.904 186.478C170.49 183.273 169.642 177.307 166.361 168.581C160.553 153.136 156.83 142.203 155.191 135.784C153.553 129.364 153.455 123.433 154.897 117.989C156.314 112.476 159.972 106.772 165.526 101.126C157.351 101.038 150.151 98.6665 144.275 93.7616C138.398 88.8566 132.817 79.3742 127.53 65.3146C122.633 52.2938 119.33 44.1285 117.621 40.8188C115.885 37.4399 113.557 35.2715 110.638 34.3138C107.787 33.3305 103.135 34.0523 96.6809 36.4791L93.522 37.667L87.7012 22.1875L93.4077 20.0417C100.065 17.5382 105.544 16.2291 109.843 16.1145C114.142 15.9998 118.375 17.2542 122.54 19.8776C126.748 22.4062 130.241 26.2311 133.02 31.3523C135.84 36.3787 139.451 44.7444 143.853 56.4492C148.228 68.0848 151.908 75.9109 154.891 79.9274C157.875 83.9439 161.487 86.5383 165.727 87.7107C169.941 88.8137 174.473 88.493 179.323 86.7485L185.378 102.851Z' fill='url(%23paint0_linear_9447_6235)'/%3E%3Cpath d='M38.7339 157.994C43.6774 156.293 48.2223 156.007 52.3686 157.136C56.515 158.264 60.127 160.859 63.2046 164.919C66.1882 168.936 69.8547 176.727 74.204 188.293C79.8034 203.184 84.5122 213.232 88.3303 218.437C92.1745 223.71 96.9402 226.899 102.628 228.001C108.341 229.173 115.682 228.073 124.649 224.701L130.355 222.555L124.574 207.179L121.415 208.367C114.621 210.922 109.559 211.482 106.228 210.046C102.923 208.68 99.6293 203.634 96.3478 194.907C90.5401 179.463 86.1375 168.786 83.1403 162.877C80.143 156.969 76.3085 152.442 71.6367 149.297C66.9389 146.084 60.4282 144.204 52.5306 143.616C58.6221 138.163 62.4751 131.635 63.6638 124.074C64.8525 116.512 62.8034 105.701 57.5165 91.6415C52.6203 78.6207 49.7249 70.3022 48.8303 66.6859C47.9097 63.0004 48.2317 59.8358 49.7964 57.192C51.2932 54.5738 55.2685 52.0513 61.7224 49.6244L64.8813 48.4365L59.0605 32.957L53.354 35.1029C46.6964 37.6064 41.7128 40.2314 38.4032 42.9779C35.0937 45.7243 32.7364 49.4567 31.3314 54.1748C29.8324 58.8492 29.725 64.028 31.0091 69.7113C32.1992 75.3508 34.995 84.023 39.3964 95.7279C43.7718 107.363 46.1605 115.675 46.5626 120.662C46.9647 125.649 45.9571 129.981 43.5398 133.657C41.0965 137.263 37.4761 140.008 32.6788 141.891L38.7339 157.994Z' fill='url(%23paint1_linear_9447_6235)'/%3E%3Cpath d='M103.353 79.1213L133.257 158.646C134.843 162.865 131.979 167.843 126.857 169.77C121.734 171.696 116.3 169.838 114.713 165.619L84.8093 86.0942C83.2255 81.8823 86.087 76.8967 91.2092 74.9706C96.3314 73.0445 101.766 74.9021 103.353 79.1213Z' fill='url(%23paint2_linear_9447_6235)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_9447_6235' x1='117.202' y1='11.0942' x2='188.497' y2='200.692' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23383838'/%3E%3Cstop offset='1' stop-color='%23282828'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_9447_6235' x1='29.5597' y1='44.0503' x2='100.855' y2='233.648' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23383838'/%3E%3Cstop offset='1' stop-color='%23282828'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_9447_6235' x1='91.2092' y1='74.9706' x2='126.857' y2='169.77' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23383838'/%3E%3Cstop offset='1' stop-color='%23282828'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        }

        & h4 {
          z-index: 5;
          position: relative;
          font-family: var(--font-instrumentSans);
          font-weight: 700;
          color: #ffffff;
          margin-top: 23px;
        }

        & p {
          z-index: 5;
          position: relative;
          color: #ffffff;
          margin: 20px 0 39.74px;
        }

        & a {
          z-index: 5;
          position: relative;
        }
      }

      & .aiDevCardWrappermobile {
        margin-top: 54px;
        width: fit-content;
        max-width: 560px;
        background: #222222;
        border-radius: var(--borderRadius);
        padding: 35px 41px 40px;
        position: relative;
        overflow: hidden;
        display: none;

        @media (max-width: 600px) {
          margin-top: 20px;
          display: block;
        }

        &::after {
          content: "";
          right: 0;
          top: 4%;
          width: calc(24vw - 30%);
          height: 100%;
          z-index: 1;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          background-image: url("data:image/svg+xml,%3Csvg width='339' height='380' viewBox='0 0 339 380' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M287.59 159.692C280.08 162.762 274.482 167.075 270.796 172.632C267.109 178.189 265.546 184.911 266.105 192.797C266.729 200.537 270.415 213.381 277.165 231.33C285.854 254.438 290.631 270.982 291.496 280.961C292.401 291.049 290.098 299.643 284.586 306.746C279.115 313.955 269.421 320.177 255.505 325.41L246.649 328.74L237.677 304.879L242.579 303.036C253.122 299.072 259.604 294.549 262.025 289.467C264.486 284.493 263.171 275.235 258.078 261.693C249.066 237.725 243.288 220.76 240.745 210.798C238.203 200.836 238.05 191.631 240.289 183.183C242.487 174.628 248.165 165.777 256.783 157.016C244.097 156.879 232.924 153.198 223.804 145.586C214.685 137.975 206.023 123.26 197.819 101.442C190.221 81.2355 185.095 68.5644 182.442 63.4283C179.748 58.1847 176.136 54.8198 171.606 53.3336C167.182 51.8077 159.962 52.9278 149.947 56.6938L145.045 58.5372L136.012 34.5156L144.867 31.1856C155.199 27.3006 163.7 25.2692 170.372 25.0913C177.044 24.9134 183.612 26.86 190.076 30.931C196.606 34.8549 202.026 40.7906 206.338 48.7379C210.715 56.538 216.319 69.5201 223.149 87.6841C229.939 105.741 235.649 117.885 240.279 124.118C244.909 130.351 250.514 134.377 257.095 136.197C263.635 137.908 270.667 137.411 278.193 134.703L287.59 159.692Z' fill='url(%23paint0_linear_8669_7773)'/%3E%3Cpath d='M60.019 245.267C67.6904 242.627 74.7433 242.183 81.1778 243.935C87.6123 245.686 93.2175 249.712 97.9934 256.013C102.623 262.246 108.313 274.337 115.063 292.286C123.752 315.394 131.059 330.986 136.984 339.063C142.95 347.248 150.345 352.195 159.171 353.906C168.038 355.725 179.429 354.017 193.345 348.785L202.2 345.455L193.228 321.594L188.326 323.438C177.783 327.402 169.927 328.27 164.758 326.043C159.629 323.924 154.518 316.093 149.426 302.55C140.413 278.582 133.581 262.014 128.93 252.845C124.279 243.675 118.328 236.651 111.079 231.771C103.788 226.784 93.6848 223.867 81.4292 222.955C90.8821 214.493 96.8614 204.363 98.706 192.628C100.551 180.893 97.3708 164.117 89.1664 142.299C81.5683 122.093 77.0751 109.184 75.6868 103.572C74.2582 97.8527 74.758 92.9417 77.1861 88.8391C79.5089 84.776 85.6779 80.8615 95.6932 77.0954L100.595 75.2521L91.5625 51.2305L82.7069 54.5605C72.3754 58.4455 64.6417 62.519 59.5058 66.7811C54.37 71.0432 50.7119 76.8351 48.5315 84.1569C46.2054 91.4108 46.0386 99.4474 48.0314 108.267C49.8783 117.018 54.2169 130.476 61.0471 148.64C67.8369 166.697 71.5438 179.595 72.1678 187.334C72.7917 195.073 71.2281 201.795 67.4769 207.499C63.6853 213.096 58.0671 217.356 50.6224 220.278L60.019 245.267Z' fill='url(%23paint1_linear_8669_7773)'/%3E%3Cpath d='M160.295 122.867L206.701 246.276C209.163 252.823 204.718 260.549 196.769 263.538C188.821 266.527 180.387 263.644 177.925 257.096L131.519 133.687C129.061 127.151 133.502 119.415 141.451 116.426C149.399 113.437 157.833 116.319 160.295 122.867Z' fill='url(%23paint2_linear_8669_7773)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_8669_7773' x1='181.792' y1='17.3008' x2='292.43' y2='311.525' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A2929'/%3E%3Cstop offset='1' stop-color='%23222222'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_8669_7773' x1='45.7822' y1='68.4453' x2='156.42' y2='362.669' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A2929'/%3E%3Cstop offset='1' stop-color='%23222222'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_8669_7773' x1='141.451' y1='116.426' x2='196.769' y2='263.538' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A2929'/%3E%3Cstop offset='1' stop-color='%23222222'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        }

        & h4 {
          z-index: 5;
          position: relative;
          font-family: var(--font-instrumentSans);
          font-weight: 700;
          color: #ffffff;
          margin-top: 20px;
        }

        & p {
          z-index: 5;
          position: relative;
          color: #ffffff;
          margin: 20px 0 39.74px;

          @media (max-width: 600px) {
            margin: 15px 0 25px;
          }
        }

        & a {
          z-index: 5;
          position: relative;
        }
      }
    }

    & .rightContentWrapper {
      flex: 1;
      width: 50%;
      position: relative;
      z-index: 5;

      @media (max-width: 600px) {
        width: 100%;
      }

      .cardWrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .cardContainer {
          width: 100%;
          background-color: #222222;
          border-radius: var(--borderRadius);
          padding: 40px;
          overflow: hidden;
          display: flex;
          gap: 15px;
          align-items: start;

          @media (max-width: 600px) {
            padding: 30px;
          }

          & svg {
            min-width: 24px;
            height: 24px;
          }

          & div {
            & h6 {
              font-family: var(--font-instrumentSans);
              color: #ffffff;
              font-weight: 600;
            }

            & p {
              color: #ffffff;
              margin-top: 14.77px;
              @media (max-width: 600px) {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}

& .leftContentContainerMobile {
  flex: 1;
  width: 50%;
  display: none;

  @media (max-width: 600px) {
    width: 100%;
    display: block;
  }

  & h2 {
    color: #fff;
    text-align: left;
  }

  & p {
    color: #ffffff;
    margin-top: 20px;
    width: 80%;
  }

  & .aiDevCardWrapper {
    margin-top: 54px;
    width: fit-content;
    max-width: 560px;
    background: #222222;
    border-radius: var(--borderRadius);
    padding: 35px 41px 40px;
    position: relative;
    overflow: hidden;

    @media (max-width: 600px) {
      margin-top: 20px;
      display: none;
    }

    &::after {
      content: "";
      right: 0;
      top: 4%;
      width: 211px;
      height: 100%;
      z-index: 1;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='339' height='380' viewBox='0 0 339 380' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M287.59 159.692C280.08 162.762 274.482 167.075 270.796 172.632C267.109 178.189 265.546 184.911 266.105 192.797C266.729 200.537 270.415 213.381 277.165 231.33C285.854 254.438 290.631 270.982 291.496 280.961C292.401 291.049 290.098 299.643 284.586 306.746C279.115 313.955 269.421 320.177 255.505 325.41L246.649 328.74L237.677 304.879L242.579 303.036C253.122 299.072 259.604 294.549 262.025 289.467C264.486 284.493 263.171 275.235 258.078 261.693C249.066 237.725 243.288 220.76 240.745 210.798C238.203 200.836 238.05 191.631 240.289 183.183C242.487 174.628 248.165 165.777 256.783 157.016C244.097 156.879 232.924 153.198 223.804 145.586C214.685 137.975 206.023 123.26 197.819 101.442C190.221 81.2355 185.095 68.5644 182.442 63.4283C179.748 58.1847 176.136 54.8198 171.606 53.3336C167.182 51.8077 159.962 52.9278 149.947 56.6938L145.045 58.5372L136.012 34.5156L144.867 31.1856C155.199 27.3006 163.7 25.2692 170.372 25.0913C177.044 24.9134 183.612 26.86 190.076 30.931C196.606 34.8549 202.026 40.7906 206.338 48.7379C210.715 56.538 216.319 69.5201 223.149 87.6841C229.939 105.741 235.649 117.885 240.279 124.118C244.909 130.351 250.514 134.377 257.095 136.197C263.635 137.908 270.667 137.411 278.193 134.703L287.59 159.692Z' fill='url(%23paint0_linear_8669_7773)'/%3E%3Cpath d='M60.019 245.267C67.6904 242.627 74.7433 242.183 81.1778 243.935C87.6123 245.686 93.2175 249.712 97.9934 256.013C102.623 262.246 108.313 274.337 115.063 292.286C123.752 315.394 131.059 330.986 136.984 339.063C142.95 347.248 150.345 352.195 159.171 353.906C168.038 355.725 179.429 354.017 193.345 348.785L202.2 345.455L193.228 321.594L188.326 323.438C177.783 327.402 169.927 328.27 164.758 326.043C159.629 323.924 154.518 316.093 149.426 302.55C140.413 278.582 133.581 262.014 128.93 252.845C124.279 243.675 118.328 236.651 111.079 231.771C103.788 226.784 93.6848 223.867 81.4292 222.955C90.8821 214.493 96.8614 204.363 98.706 192.628C100.551 180.893 97.3708 164.117 89.1664 142.299C81.5683 122.093 77.0751 109.184 75.6868 103.572C74.2582 97.8527 74.758 92.9417 77.1861 88.8391C79.5089 84.776 85.6779 80.8615 95.6932 77.0954L100.595 75.2521L91.5625 51.2305L82.7069 54.5605C72.3754 58.4455 64.6417 62.519 59.5058 66.7811C54.37 71.0432 50.7119 76.8351 48.5315 84.1569C46.2054 91.4108 46.0386 99.4474 48.0314 108.267C49.8783 117.018 54.2169 130.476 61.0471 148.64C67.8369 166.697 71.5438 179.595 72.1678 187.334C72.7917 195.073 71.2281 201.795 67.4769 207.499C63.6853 213.096 58.0671 217.356 50.6224 220.278L60.019 245.267Z' fill='url(%23paint1_linear_8669_7773)'/%3E%3Cpath d='M160.295 122.867L206.701 246.276C209.163 252.823 204.718 260.549 196.769 263.538C188.821 266.527 180.387 263.644 177.925 257.096L131.519 133.687C129.061 127.151 133.502 119.415 141.451 116.426C149.399 113.437 157.833 116.319 160.295 122.867Z' fill='url(%23paint2_linear_8669_7773)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_8669_7773' x1='181.792' y1='17.3008' x2='292.43' y2='311.525' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A2929'/%3E%3Cstop offset='1' stop-color='%23222222'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_8669_7773' x1='45.7822' y1='68.4453' x2='156.42' y2='362.669' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A2929'/%3E%3Cstop offset='1' stop-color='%23222222'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_8669_7773' x1='141.451' y1='116.426' x2='196.769' y2='263.538' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232A2929'/%3E%3Cstop offset='1' stop-color='%23222222'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    & h4 {
      z-index: 5;
      position: relative;
      font-family: var(--font-instrumentSans);
      font-weight: 700;
      color: #ffffff;
      margin-top: 20px;
    }

    & p {
      z-index: 5;
      position: relative;
      color: #ffffff;
      margin: 20px 0 63.74px;
    }

    & a {
      z-index: 5;
      position: relative;
    }
  }

  & .aiDevCardWrappermobile {
    margin-top: 54px;
    width: fit-content;
    max-width: 560px;
    background: #282828;
    border-radius: var(--borderRadius);
    padding: 35px 41px 40px;
    position: relative;
    overflow: hidden;
    display: none;

    @media (max-width: 600px) {
      margin-top: 0;
      display: block;
    }

    &::after {
      content: "";
      right: 0;
      top: -5px;
      width: 220px;
      height: 100%;
      z-index: 1;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='218' height='245' viewBox='0 0 218 245' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M185.378 102.851C180.539 104.829 176.931 107.609 174.556 111.19C172.181 114.771 171.173 119.102 171.533 124.184C171.935 129.171 174.311 137.448 178.66 149.015C184.26 163.905 187.338 174.566 187.895 180.997C188.478 187.497 186.994 193.036 183.442 197.613C179.917 202.259 173.67 206.268 164.703 209.64L158.996 211.785L153.214 196.41L156.373 195.222C163.167 192.667 167.344 189.753 168.904 186.478C170.49 183.273 169.642 177.307 166.361 168.581C160.553 153.136 156.83 142.203 155.191 135.784C153.553 129.364 153.455 123.433 154.897 117.989C156.314 112.476 159.972 106.772 165.526 101.126C157.351 101.038 150.151 98.6665 144.275 93.7616C138.398 88.8566 132.817 79.3742 127.53 65.3146C122.633 52.2938 119.33 44.1285 117.621 40.8188C115.885 37.4399 113.557 35.2715 110.638 34.3138C107.787 33.3305 103.135 34.0523 96.6809 36.4791L93.522 37.667L87.7012 22.1875L93.4077 20.0417C100.065 17.5382 105.544 16.2291 109.843 16.1145C114.142 15.9998 118.375 17.2542 122.54 19.8776C126.748 22.4062 130.241 26.2311 133.02 31.3523C135.84 36.3787 139.451 44.7444 143.853 56.4492C148.228 68.0848 151.908 75.9109 154.891 79.9274C157.875 83.9439 161.487 86.5383 165.727 87.7107C169.941 88.8137 174.473 88.493 179.323 86.7485L185.378 102.851Z' fill='url(%23paint0_linear_9447_6235)'/%3E%3Cpath d='M38.7339 157.994C43.6774 156.293 48.2223 156.007 52.3686 157.136C56.515 158.264 60.127 160.859 63.2046 164.919C66.1882 168.936 69.8547 176.727 74.204 188.293C79.8034 203.184 84.5122 213.232 88.3303 218.437C92.1745 223.71 96.9402 226.899 102.628 228.001C108.341 229.173 115.682 228.073 124.649 224.701L130.355 222.555L124.574 207.179L121.415 208.367C114.621 210.922 109.559 211.482 106.228 210.046C102.923 208.68 99.6293 203.634 96.3478 194.907C90.5401 179.463 86.1375 168.786 83.1403 162.877C80.143 156.969 76.3085 152.442 71.6367 149.297C66.9389 146.084 60.4282 144.204 52.5306 143.616C58.6221 138.163 62.4751 131.635 63.6638 124.074C64.8525 116.512 62.8034 105.701 57.5165 91.6415C52.6203 78.6207 49.7249 70.3022 48.8303 66.6859C47.9097 63.0004 48.2317 59.8358 49.7964 57.192C51.2932 54.5738 55.2685 52.0513 61.7224 49.6244L64.8813 48.4365L59.0605 32.957L53.354 35.1029C46.6964 37.6064 41.7128 40.2314 38.4032 42.9779C35.0937 45.7243 32.7364 49.4567 31.3314 54.1748C29.8324 58.8492 29.725 64.028 31.0091 69.7113C32.1992 75.3508 34.995 84.023 39.3964 95.7279C43.7718 107.363 46.1605 115.675 46.5626 120.662C46.9647 125.649 45.9571 129.981 43.5398 133.657C41.0965 137.263 37.4761 140.008 32.6788 141.891L38.7339 157.994Z' fill='url(%23paint1_linear_9447_6235)'/%3E%3Cpath d='M103.353 79.1213L133.257 158.646C134.843 162.865 131.979 167.843 126.857 169.77C121.734 171.696 116.3 169.838 114.713 165.619L84.8093 86.0942C83.2255 81.8823 86.087 76.8967 91.2092 74.9706C96.3314 73.0445 101.766 74.9021 103.353 79.1213Z' fill='url(%23paint2_linear_9447_6235)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_9447_6235' x1='117.202' y1='11.0942' x2='188.497' y2='200.692' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23383838'/%3E%3Cstop offset='1' stop-color='%23282828'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_9447_6235' x1='29.5597' y1='44.0503' x2='100.855' y2='233.648' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23383838'/%3E%3Cstop offset='1' stop-color='%23282828'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_9447_6235' x1='91.2092' y1='74.9706' x2='126.857' y2='169.77' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23383838'/%3E%3Cstop offset='1' stop-color='%23282828'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    & h4 {
      z-index: 5;
      position: relative;
      font-family: var(--font-instrumentSans);
      font-weight: 600;
      color: #ffffff;
      margin-top: 20px;
    }

    & p {
      z-index: 5;
      position: relative;
      color: #ffffff;
      margin: 20px 0 39.74px;

      @media (max-width: 600px) {
        margin: 15px 0 25px;
      }
    }

    & a {
      z-index: 5;
      position: relative;
    }
  }
}
