.mainWrapper {
  padding-top: 80px;
  padding-bottomu: 80px;

  @media (max-width: 600px) {
    padding-top: 40px;
    padding-bottom: 40px;
    display: none;
  }
}

.contentContainer {
  & span {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-inter);
    font-weight: 600;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
  }
}

.carouselContainer {
  padding-top: 52px;

  .carouselCard {
    border-radius: var(--borderRadius);
    width: 100%;
    overflow: hidden;

    & .imgContainer {
      padding: 30px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #001730;
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        width: 367.59px;
        height: 330.09px;
        left: -30%;
        top: -30%;
        background: rgba(0, 117, 242, 0.8);
        filter: blur(100px);
        transform: matrix(1, 0, 0, -1, 0, 0);
      }

      &::after {
        content: "";
        position: absolute;
        width: 367.59px;
        height: 330.09px;
        bottom: -30%;
        right: -30%;
        background: rgba(0, 117, 242, 0.8);
        filter: blur(100px);
        transform: matrix(1, 0, 0, -1, 0, 0);
      }

      & img {
        margin: 0 auto;
        width: 100%;
        height: auto;
        z-index: 10;
        position: relative;
      }
    }

    .contentContainer {
      border: 1px solid #e5e5e5;
      border-top: 0;
      border-radius: 0 0 var(--borderRadius) var(--borderRadius);
      padding: 40px;

      & h4,
      & p,
      & a {
        text-align: center;
      }

      & h4 {
        font-family: var(--font-instrumentSans);
        font-weight: 600;
      }

      & p {
        margin: 20px auto 30px;
        max-width: 608px;
      }

      & a {
        display: block;
        border: 1px solid #767676;
        width: fit-content;
        padding: 10px 20px;
        margin: 0 auto;
        color: #767676;
        font-weight: 600;
        font-family: var(--font-inter);
        border-radius: var(--borderRadius);

        & svg {
          margin-left: 10px;
        }
      }
    }
  }
}

/* arrowRightDark */

.navigationBtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  & .previewBtn {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 19L10.5 10L1.5 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transform: scaleX(-1);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    left: -48px;
    position: relative;
  }

  & .nextBtn {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 19L10.5 10L1.5 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transform: scaleX(1);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0;
    right: -48px;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
  }
}
