.exploreAnalyzeWrapper {
  padding: 80px 0px;

  @media (max-width: 1024px) {
    padding: 60px 0px;
  }

  @media (max-width: 768px) {
    padding: 40px 0px;
  }

  & .exploreHeading {
    font-family: var(--font-instrumentSans);
    text-align: center;
    margin-bottom: 15px;
    color: var(--primary-dark);

    @media (max-width: 600px) {
      margin-bottom: 10px;
    }
  }

  & .exploreDescription {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin: 0px auto;
    width: 55%;
    color: var(--primary-dark);

    @media (max-width: 992px) {
      width: 74%;
    }

    @media (max-width: 768px) {
      width: 80%;
      font-size: 15px;
      line-height: 24px;
    }

    @media (max-width: 620px) {
      width: 90%;
      line-height: 22px;
    }
  }

  & .exploreButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 37px 0 52px;

    @media (max-width: 1220px) {
      overflow-x: auto;
      white-space: nowrap;
      padding-bottom: 10px;
      justify-content: flex-start;
    }

    @media (max-width: 600px) {
      margin: 27px 0 20px;
    }

    & .explorAnalyzeButton {
      font-family: var(--font-inter);
      font-weight: 500;
      font-size: 18px;
      /* leading-trim: Cap height; */
      line-height: 28px;
      letter-spacing: 0.3px;
      text-align: center;
      background: #fff;
      padding: 6.5px 14px;
      border-radius: 100px;
      color: #767676;
      border: 1px solid #949494;
      cursor: pointer;

      @media (max-width: 768px) {
        padding: 4px 12px;
        font-size: 16px;
      }
    }

    & .activeButton {
      background: #fffaea;
      color: var(--primary-dark);
    }
  }

  & .exploreAnalyzeWrapperBox {
    padding: 9px 10px 10px 10px;
    box-shadow: 0px 0px 40px 30px #0000000d;
    border-radius: 20px;

    & .exploreAnalyzeContainer {
      display: flex;
      align-items: center;
      gap: 125px;
      border-radius: 10px;
      background: linear-gradient(270deg, #d3ebff 0%, #ffffff 100%);
      padding: 34px 56px 34px 70px;

      @media (max-width: 1200px) {
        padding: 34px 50px;
      }

      @media (max-width: 1024px) {
        flex-direction: column;
        gap: 50px;
      }

      /* @media (max-width: 768px) {
                padding: 20px 30px;
            } */

      @media (max-width: 768px) {
        padding: 10px 20px;
      }

      & .leftExploreAnalyzeContainer {
        width: 50%;

        @media (max-width: 1024px) {
          width: 100%;
        }

        & .exploreSubHeading {
          font-family: var(--font-instrumentSans);
          font-weight: 700;
          font-size: 45px;
          line-height: 54.5px;
          letter-spacing: 0.6px;
          margin-bottom: 15px;
          color: var(--primary-dark);

          @media (max-width: 1200px) {
            font-size: 35px;
            line-height: 44.5px;
            margin-bottom: 12px;
          }

          @media (max-width: 768px) {
            font-size: 30px;
            line-height: 38.5px;
          }

          @media (max-width: 600px) {
            text-align: center;
          }
          /* @media (max-width: 768px) {
                        font-size: 24px;
                        line-height: 35.5px;
                    } */
        }

        & .exploreSubDescription {
          font-family: var(--font-inter);
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.3px;
          margin-bottom: 30px;
          color: var(--primary-dark);

          @media (max-width: 768px) {
            font-size: 15px;
          }

            @media (max-width: 600px) {
            text-align: center;
          }
        }

        & .radioListWrapper {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;

          & svg {
            width: 19px;
            height: 19px;
          }

          & .listTitle {
            font-family: var(--font-inter);
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.3px;
            color: var(--primary-dark);
          }
        }
      }

      & .rightExploreAnalyzeContainer {
        width: 50%;
        border: 1px solid #ffffff;
        height: 462px;

        @media (max-width: 1024px) {
          width: 100%;
        }
      }
    }
  }
}
