.banner {
  background-image: url("../../assets/images/industriesBanner.png");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 50px 20px;
  margin-top: 100px;
  height: 930px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 1500px) {
    margin-top: 90px;
  }
  @media (max-width: 1023px) {
    margin-top: 80px;
  }
  @media (max-width: 767px) {
    height: 630px;
    margin-top: 60px;
  }

  & .bannerTitle {
    font-family: Montserrat;
    font-size: 96px;
    font-weight: 700;
    line-height: 117.02px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    margin: 6px 0;
    max-width: 1600px;
    text-transform: uppercase;
    @media (max-width: 1200px) {
      font-size: 60px;
      line-height: 70px;
    }
    @media (max-width: 767px) {
      font-size: 40px;
      line-height: 60px;
    }
  }

  & .bannerSubtitle {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.51px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    max-width: 800px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      font-size: 30px;
      line-height: 40px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 34px;
    }
  }

  & .bannerDescription {
    max-width: 950px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0 0 40px;
    @media (max-width: 1200px) {
      font-size: 20px;
      line-height: 30px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  & .meetUsButton {
    border-radius: 24px;
    background-color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0075f2;

    padding: 13px 15px 13px 20px;
    display: inline-flex;
    align-items: center;
    border: none;
  }
}
.middleContainer {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 80px 0 0px;
  & .whoWeText {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    line-height: 39.01px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
    padding: 0;
    margin: 0 0 10px;
    @media (max-width: 1200px) {
      font-size: 22px;
      line-height: 32px;
    }
  }
  & .heading {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 600;
    line-height: 58.51px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #0075f2;
    padding: 0 20px;
    @media (max-width: 1200px) {
      font-size: 30px;
      line-height: 40px;
    }
    @media (max-width: 580px) {
      font-size: 24px;
      line-height: 34px;
    }
  }

  & .hexagonGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    max-width: 1580px;
    margin: 0 auto;
    justify-content: center;
    padding: 80px 20px;
    @media (max-width: 767px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 580px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  & .hexagon {
    & .cardName{
      font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: transparent;
margin-top: -32px;
@media (max-width: 1023px) {
 font-size: 16px;
 line-height: 22px;
 margin-top: -24px;
}
    }
    & svg {
      width: 200px;
      height: 245px;
      @media (max-width: 1023px) {
        width: 100%;
        height: 100%;
      }

    }
    &:hover {
      & .cardName{
        color: #0075F2;
      }
     & svg{
      & text {
        fill: red;
      }
      & > path {
        fill: #fff;
      }
      & > g {
        & path {
          fill: #0075f2;
        }
        & > g {
          & path {
            fill: #fff !important;
            stroke: #fff;
          }
        }
      }
     }
    }
  }

  & .icon {
    font-size: 1.5rem;
    color: #007bff;
  }
  & .infoWrapper {
    background-color: #f1f1f1;
  }
  & .infoSection {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 77px 30px;
    border-radius: 8px;
    @media (max-width: 1023px) {
      flex-direction: column;
      padding: 77px 20px;
    }
  }

  & .illustration {
    max-width: 50%;
  }
& .leftContent{
  width: 50%;
  text-align: left;
  @media (max-width: 1023px) {
    width: 100%;
    text-align: center;
  }
  & svg{
    width: 100%;
    height: 100%;
    max-width: 706px;
  }
}
  & .content {
    text-align: left;
    max-width: 676px;
    margin-right: 110px;
    width: 50%;
    @media (max-width: 1500px) {
      margin-right: 0;
    }
    @media (max-width: 1023px) {
      width: 100%;
    }
  }
  & .subTitle {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
    @media (max-width: 1200px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  & .title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 600;
    line-height: 58.51px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #000;
    margin-bottom: 10px;
    @media (max-width: 1200px) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  & .text {
    color: #555;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    max-width: 563px;

    margin-bottom: 34px;
    @media (max-width: 1200px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  & .list {
    list-style: none;
    padding: 0;
    color: #007bff;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  & .list li {
    margin: 0 0 20px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
    @media (max-width: 1200px) {
      font-size: 16px;
      line-height: 22px;
    }
    &:before {
      content: ""; /* Empty content to add the bullet before the list item */
      display: inline-block;
      width: 16px; /* Width of the circle */
      height: 16px; /* Height of the circle */
      margin-right: 10px; /* Space between the circle and the text */
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.75 8.75L6.25 12.25L13.25 4.75' stroke='%230075F2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      border-radius: 50%; /* Make it circular */
    }
  }

  & .contactButton {
    display: inline-flex;
    align-items: center;
    margin-top: 1rem;
    padding: 12px 15px 12px 20px;
    background-color: #0075f2;
    color: #fff;
    text-decoration: none;
    border-radius: 24px;
    transition: background-color 0.3s;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    @media (max-width: 1200px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  & .contactButton:hover {
    background-color: #0056b3;
  }
}

.trustedBrands {
  background-color: #fff;
  padding: 40px 0;

  .trusted-background {
    background-color: #c8f9f8 !important;
  }
  .contentWidth {
    & h5 {
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      line-height: 72px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

      color: #0075f2;
      text-align: center;
      margin-bottom: 36px;
      text-transform: capitalize;
      @media (max-width: 1500px) {
        font-size: 32px;
        line-height: 135%;
      }
      @media (max-width: 576px) {
        font-size: 28px;
        line-height: 130%;
      }
    }

    .trustedBrandBox {
      background: #ebf5ff;
      padding: 16px 48px;
      overflow-x: hidden;
      @media (min-width: 768px) {
        padding: 16px 48px;
      }
      & :global(.slick-track) {
        display: flex;
        align-items: center;
      }
      & :global(.slick-arrow) {
        display: none !important;
      }
      & :global(.slick-slide) {
        & img {
          display: unset;
        }
        & .brandLogo {
          display: flex !important;
          text-align: center;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
